.button--about {
  width: 94px;
  height: 94px;
}

.header--about {
  width: 90vw;
  & h1 {
    margin-bottom: 0;
  }
  margin: 20px 50px;
}

.card--category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 384px;
  height: 190px;
  padding: 12px 64px;
  border-radius: 40px;
  background-color: #2463ff;
  box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 120%;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.about--section {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 32px;
  justify-content: center;
}