.mainMenu {
  width: 592px;
  height: 610px;
  border-radius: 72px;
  background: linear-gradient(
    180deg,
    rgba(52, 74, 186, 1) 0%,
    rgba(0, 20, 121, 0.83) 100%
  );
  box-shadow: inset 0px -8px 0px 4px #140e66, inset 0px 6px 0px 8px #2463ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.mainMenu nav {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button--menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  box-shadow: inset 0px -4px 0px 5px #243041, inset 0px -12px 0px 11px #9d2df5;
  background: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    linear-gradient(180deg, #fe71fe 0%, #7199ff 100%);
  border: 1px solid #000;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 64px;
  width: 260px;
  height: 62px;
  border-radius: 40px;
  box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
  background-color: #2463ff;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 120%;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.icon--play {
  filter: drop-shadow(0px 6px 0px #243041);
  stroke: #000;
}
