@font-face {
  font-family: 'Mouse Memoirs';
  src: url(/src/assets/fonts/MouseMemoirs-Regular.ttf) format('truetype');
  font-style: normal;
  font-display: swap;
}
* {
  font-family: 'Mouse Memoirs';
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  min-width: 100%;
  background-image: url('/src/assets/images/background-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
