html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  min-width: 100%;
  background-image: url("/src/assets/images/background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
