.letter {
  background-color: #2463ff;
  border-radius: 40px;
  width: 112px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 64px;
  box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 120%;
  font-size: 88px;
  font-weight: 400;
  box-sizing: border-box;
}

.word-part {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px;
}

.hidden {
  opacity: 0.25;
  color: #2463ff;
}
